/target
/qa/session-fixtures/
*.session
*.session.lock

/metadata-windows.json
/qa/*.log

/qa/performance-v04/*/startup-*.png

/qa/performance-v05/*/startup-*.png

/qa/performance-v05/
/qa/performance-v05-final/*/startup-*.png
/qa/performance-v08/*/startup-*.png
